<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> </meta>
        <title>Clippr</title>
        <link  th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
               rel="stylesheet" media="screen"/>

    </head>
    <body>
        <div class="jumbotron">
            <div class = "container">
            <h1>Clippr</h1>
            <p> Welcome to Clippr, where you can upload your video files and stream them from any device in the world</p>
        </div>
    </div>
        <div>

            <p>Click <a class="btn btn-primary btn-lg" th:href="@{/upload}">here</a> to get started.</p>
        </div>
    </body>
</html>